sudo: required
group: travis_latest
language: python
env:
  matrix:
  - REPO=apachecn/LeetCode
  global:
    secure: "XS5X8RmRNIb+Jhhoef8cZWx1kgtoC8zUUDUkDq1D7/Dm4gASUH5+BqEJebFGeEmSq1WDvsjjfd8pFrWCRfu0hsQolm0MbXRQvNebQ2DL1JNZzjZH43+EorFgasAR46P/19auUFNWx87cPDVf7liKz+YZGsXm/yYlO+Gq650QjQnooTqFgx2rjLyAQady0z4S2Gxc+scmsv7gslDKk0q+C4WVhxXs6Elb+DM++jTIJscpEvR1Qj9AzDHxKO3bjdZfzqQfwRhjDMB3IL4qsk8Up8Tfu4BWwbK/1lTfYFeHCuqMIWCrTlGV3LkGc6zZ+OFnG7JMtLsofUfwKohxU4Cj9iH/mn4zq6szdfwrNbE+MwFsNX3qEXjGdotMnigIDZg4hEtjW+iULxexpLv3E/xNVreQJFuSLARnY+jYy/bq1BbUyT+Uf57TyUG1BBzx+zg8021oyo5wI0LFI7GmH4+KB1JvcTEnkLIvm39f7SyZrC1JDsV3A9BMWK5AEtiqumRIv02RV1l0bkOXsMtpAisOYySgwYTy2NgJn3BDHp9S/zZui+BZ8057RZN8Uv6QPnIXCIy1Hk/91EeQ221Eudb+TvlCXBVV/qz7taHG1WSItRie9VKEjRWgYiBT++v0nllMqFkiYyFOLju5TkQHGKtsnuMnBOKLWxMiFQzx7ZJKIGQ="
python:
- 3.6
matrix:
  allow_failures:
  - python: nightly
  - python: pypy
  - python: pypy3
install:
- echo ${PASSWORD}
- sudo python2 -m pip install flake8
- pip install flake8 future
before_script:
- URL=https://github.com/${REPO}
- URL=https://github.com/Upgrade-to-Python3/LeetCode
- echo ; echo -n "flake8 testing of ${URL} on " ; python -V
- git clone --depth=50 ${URL} ~/${REPO}
- cd ~/${REPO}
script:
- echo stop the build if there are Python 2 syntax errors or undefined names
- echo ; echo -n "flake8 testing of ${URL} on " ; python2 -V
- python2 -m flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
- git remote add upstream https://cclauss:${GITHUB_TOKEN}@github.com/${REPO}
- git checkout -b modernize-python2-code
- futurize --stage1 -w .
- git commit --all -m "Modernize Python 2 code to get ready for Python 3"
- git push --force origin modernize-python2-code
- echo ; echo -n "flake8 testing of ${URL} on " ; python -V
- flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
notifications:
  on_success: change
  on_failure: change
